<h1>The Secret Page</h1>

<img src="https://avatars2.githubusercontent.com/u/12764689?v=3&s=460">

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>